.footer {
  background-color: #050557;
  padding: 20px 0;
  text-align: center;
  color: white;
  height: 150px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
}
