<div class="container">
  <div class="event">
    Mes réservations
</div>
  <div *ngIf="eventInfo.length === 0" class="contain">
    <h2>Vous n'avez aucune réservation en cours.</h2>
  </div>
<div class="contain">
  <div class="card" *ngFor="let event of eventInfo">
    <img class="card-image" src="./assets/roller-coaster-g8eca68687_1280.jpg" alt="Image de la carte">
    <div class="card-details">
      <div class="card-title"><a href="http://localhost:4200/event/{{event?.eventId}}">{{event?.titre}}</a></div>
      <div class="card-price">{{event.nombreInvite * event?.prix}}€</div>
      <div class="card-seul" *ngIf="event.nombreInvite === 1">Seul(e)</div>
      <div class="card-plus" *ngIf="event.nombreInvite > 1">avec {{event.nombreInvite - 1}} autres personnes</div>
      <div class="card-status">réservé le {{event.reservedAt}}</div>
      <div class="card-billet" (click)="download(event?.eventId)">Télécharger mon billet</div>
      <button *ngIf="!archived" (click)="openModal()">Annuler ma réservation</button>
      <button *ngIf="archived" style="background: black;color: orangered" disabled><i>Archivé</i></button>
      <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <p>Voulez-vous vraiment annuler votre réservation ?</p>
          <div class="modal-buttons">
            <button style="padding: 0.5em 1em;background: green " (click)="cancelReservation(event.userReservationId, event.paymentId)">Oui, j'annule</button>&nbsp;
            <button style="padding: 0.5em 1em;" (click)="closeModal()">Non</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="id">

    <!--<div class="tab-container">
    <div class="tab-menu">
      <button class="tab-button" (click)="openTab('tab1')" [ngClass]="{ 'active': activeTab === 'tab1' }">Onglet 1</button>
      <button class="tab-button" (click)="openTab('tab2')" [ngClass]="{ 'active': activeTab === 'tab2' }">Onglet 2</button>
      <button class="tab-button" (click)="openTab('tab3')" [ngClass]="{ 'active': activeTab === 'tab3' }">Onglet 3</button>
    </div>
    <div class="tab-content">
      <div id="tab1" class="tab-item" [ngClass]="{ 'active': activeTab === 'tab1' }">
        Contenu de l'onglet 1
      </div>
      <div id="tab2" class="tab-item" [ngClass]="{ 'active': activeTab === 'tab2' }">
        Contenu de l'onglet 2
      </div>
      <div id="tab3" class="tab-item" [ngClass]="{ 'active': activeTab === 'tab3' }">
        Contenu de l'onglet 3
      </div>
    </div>
  </div> !-->
  </div>
</div>
