<div class="sidenav">
  <h3 (click)="choose(0)" [ngClass]="{ 'active': !isEvent && !isReservation }">Accueil</h3>
  <h3 (click)="choose(1)" [ngClass]="{ 'active': isEvent }">Événements</h3>
  <h3 (click)="choose(2)" [ngClass]="{ 'active': isReservation }">Réservations</h3>
  <a href="#" style="margin-top: 14em">Déconnexion</a>
</div>
<div class="main">
  <app-event *ngIf="isEvent && !isReservation && !isHome" [eventArrayUser]="eventArrayUser"></app-event>
  <app-reservation *ngIf="isReservation && !isEvent && !isHome" [eventInfo]="eventInfo"></app-reservation>
  <app-accueil *ngIf="!isEvent && !isReservation" [eventInfo]="eventInfo" [eventArrayUser]="eventArrayUser"></app-accueil>
</div>
