.container {
  width: 60%;
  margin: 5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  border: 1px solid green;
  padding: 1em;
  border-radius: 15px;
  .contain {
    span {
      font-size: 3em;
      color: green;
      font-weight: bolder;
    }
    div {
      margin-top: 3em;
      font-weight: bolder;
    }
  }
}
