<div class="container">
  <div class="card">
    <div class="slogan">
      <div class="titre">
        <span style="color: brown">Envie de</span> sortir ce week-end,<br>
        c'est par ici
      </div>
    </div>
    <div class="image">
      <img src="./assets/roller-coaster-g8eca68687_1280.jpg" alt="">
    </div>
  </div>
  <div class="filter">
    <div class="titre">
      Événements à venir sur :
    </div>
    <div class="input">
      <input type="text" name="" id="" placeholder="Saisir votre ville">
    </div>
  </div>
  <div class="listevent">
    <app-list-event *ngFor="let event of eventsArray" [event]="event"></app-list-event>
  </div>
</div>
