<div class="kpi-container">
  <div class="kpi">
    <span class="kpi-value">{{eventArrayUser?.length}}</span>&nbsp;
    <span class="kpi-label">évènement(s) organisé(s)</span>
  </div>
  <div class="kpi">
    <span class="kpi-value">95%</span>&nbsp;
    <span class="kpi-label">Taux de satisfaction</span>
  </div>
  <div class="kpi">
    <span class="kpi-value">{{eventInfo?.length}}</span>&nbsp;
    <span class="kpi-label">réservation(s) en cours</span>
  </div>
  <br>
  <div class="kpi">
    <span class="kpi-value">{{total * price}}€</span>&nbsp;
    <span class="kpi-label">: revenu total pour l'évènement en cours</span>
  </div>
  <div class="kpi">
    <span class="kpi-value">{{total}}</span>&nbsp;
    <span class="kpi-label">réservation(s) en cours pour votre évènement</span>
  </div>
</div>
